Telegram Image Editor with AI.json
{
  "name": "Telegram Image Editor with AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "imageSize": "large"
        }
      },
      "id": "b9c630a2-76fa-45ae-8fa4-3ae3084e8b24",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ],
      "webhookId": "c5096641-4c68-4f45-8569-95b5ffa0ff6b",
      "credentials": {
        "telegramApi": {
          "id": "0T2B9aeSd7gJ2KQh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "id": "16d5f16c-54ab-46c8-b0a4-cd4d4442b611",
      "name": "Get Image File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        304
      ],
      "webhookId": "099e287f-4d49-47b1-963d-2370031863af",
      "credentials": {
        "telegramApi": {
          "id": "0T2B9aeSd7gJ2KQh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "userRequest",
              "value": "={{ $(\"Telegram Trigger\").item.json.message.text || $(\"Telegram Trigger\").item.json.message.caption || \"Chỉnh sửa hình ảnh\" }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "chatId",
              "value": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "03d13e9a-3c20-4ed9-8d36-1ea356fd455e",
      "name": "Extract Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "7623967c-2edb-45a3-a42b-26e3173c4a73",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UVMk8oug5iWSHYyP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $(\"Extract Request\").item.json.chatId }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "=✅ Đã chỉnh sửa xong!\n\nFile: {{ $json.name }}\nXem trên Google Drive: {{ $json.webViewLink }}"
        }
      },
      "id": "512b4d40-29cd-4c72-a6cc-bf980ea635e2",
      "name": "Send Result to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        304
      ],
      "webhookId": "db9d64cf-27df-429d-9c98-f18a613c5f3a",
      "credentials": {
        "telegramApi": {
          "id": "0T2B9aeSd7gJ2KQh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "id": "e3497375-d7c7-46d8-99a8-0d20344aa926",
      "name": "Edit Image with Gemini AI",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        912,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "7oMbVeto9kdtkFcQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "fileName",
              "value": "={{ \"edited_\" + $now.toFormat(\"yyyyMMdd_HHmmss\") + \".jpg\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5db4b6bc-dffb-4dee-8882-6f6ccf7c63b1",
      "name": "Prepare File Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image File": {
      "main": [
        [
          {
            "node": "Extract Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request": {
      "main": [
        [
          {
            "node": "Edit Image with Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Send Result to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image with Gemini AI": {
      "main": [
        [
          {
            "node": "Prepare File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Name": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "945f15f1-febf-43b5-8398-a3ed41f1294a",
  "meta": {
    "instanceId": "6bdf36c2ff9f2d7b70ed2d1dfd06c5a5b81bb6eb4750d1572b4431fb9a68a229"
  },
  "id": "cflH0Disj1zNQBZu",
  "tags": []
}